/* bundled styles */
/* form #25795 */
.mc4wp-form-25795 label, 
.mc4wp-form-25795 input, 
.mc4wp-form-25795 textarea, 
.mc4wp-form-25795 select, 
.mc4wp-form-25795 button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mc4wp-form-25795 {
	display: block;
	width: 100%; max-width: 100% !important;
	background-repeat: repeat;
}

.mc4wp-form-25795 label {
	vertical-align: top;
	margin-bottom: 6px;
	width: 100%;
}

.mc4wp-form-25795 input[type='text'],
.mc4wp-form-25795 input[type='email'],
.mc4wp-form-25795 input[type='url'],
.mc4wp-form-25795 input[type='tel'],
.mc4wp-form-25795 input[type='number'],
.mc4wp-form-25795 input[type='date'],
.mc4wp-form-25795 select,
.mc4wp-form-25795 textarea {
	vertical-align: top;
	margin-bottom: 6px;
	padding: 6px 12px;
	width: 100%; max-width: 65%;
}

.mc4wp-form-25795 input[type='radio'],
.mc4wp-form-25795 input[type='checkbox'] {
	margin-right: 6px;
	display: inline-block
}

.mc4wp-form-25795 input[type='submit'],
.mc4wp-form-25795 input[type='button'],
.mc4wp-form-25795 input[type='reset'],
.mc4wp-form-25795 button {
	vertical-align: top;
	text-shadow: none;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	line-height: normal;
	display: inline-block;
	width: 100%; max-width: 65%;
	-webkit-appearance: none;
}

.mc4wp-form-25795 .mc4wp-success p{
	color: #00afec;
}.mc4wp-form-25795 .mc4wp-notice p{
	color: #bab013;
}.mc4wp-form-25795 .mc4wp-error p{
	color: #f01849;
}

/* form #25727 */
.mc4wp-form-25727 label, 
.mc4wp-form-25727 input, 
.mc4wp-form-25727 textarea, 
.mc4wp-form-25727 select, 
.mc4wp-form-25727 button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mc4wp-form-25727 {
	display: block;
	padding: 3px;
	width: 100%; max-width: 100% !important;
	background-repeat: repeat;
}

.mc4wp-form-25727 label {
	vertical-align: top;
	margin-bottom: 6px;
	width: 100%;
}

.mc4wp-form-25727 input[type='text'],
.mc4wp-form-25727 input[type='email'],
.mc4wp-form-25727 input[type='url'],
.mc4wp-form-25727 input[type='tel'],
.mc4wp-form-25727 input[type='number'],
.mc4wp-form-25727 input[type='date'],
.mc4wp-form-25727 select,
.mc4wp-form-25727 textarea {
	vertical-align: top;
	margin-bottom: 6px;
	padding: 6px 12px;
	width: 100%; max-width: 65%;
}

.mc4wp-form-25727 input[type='radio'],
.mc4wp-form-25727 input[type='checkbox'] {
	margin-right: 6px;
	display: inline-block
}

.mc4wp-form-25727 input[type='submit'],
.mc4wp-form-25727 input[type='button'],
.mc4wp-form-25727 input[type='reset'],
.mc4wp-form-25727 button {
	vertical-align: top;
	text-shadow: none;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	line-height: normal;
	display: inline-block;
	width: 100%; max-width: 65%;
	-webkit-appearance: none;
}

.mc4wp-form-25727 .mc4wp-success p{
	color: #00afec;
}.mc4wp-form-25727 .mc4wp-notice p{
	color: #bab013;
}.mc4wp-form-25727 .mc4wp-error p{
	color: #f01849;
}

