
/************************ content ********************/

html, body{
  height:100%;
}

A:link { color: #6eaaff; text-decoration: none;  }
A:active { color #6eaaff; text-decoration: none;  }
A:visited { color: #6eaaff; text-decoration: none;  } 
A:hover { color: #6eaaff; text-decoration: none;  }

.contentbox {
	width:80%;
	height:100%;
	margin: 0 auto;
	font-family: 'Didact Gothic', sans-serif;
	color:#cccccc;
	line-height:1.6;
	position:fixed;
	-webkit-overflow-scrolling: touch;
}

.readmore {
	background:linear-gradient(rgba(31,31,31,0), rgba(27,27,27,0.6), rgba(22,22,22,1), rgba(17,17,17,1));
	position: fixed;
	text-align:center;
	margin: 0 auto;
	width:100%;
	height:100px;
	bottom: 61px;
	display:none;
	z-index:999;
}

.readmore div {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width:100%;
	color: #c8ad22;
	text-shadow: 2px 2px #111111;
	font-size:x-large;
}

.closecontent {
	cursor:pointer;
	z-index:999999;
	height:50px;
}


.header {
	font-size: 65px;
	font-weight:normal;
	font-family: 'Helvetica', sans-serif;
	color:#c8ad22;
	text-shadow: 2px 2px #111111;
	line-height:1.1;
	vertical-align:baseline;
	width:100%;
}

.subheader {
	font-size: x-large;
	font-weight:normal;
	font-family: 'Helvetica', sans-serif;
	color:#4585e0;
	text-shadow: 2px 2px #111111;
	vertical-align:baseline;
	width:100%;
}

.miniheader {
	font-size: x-large;
	font-weight:normal;
	font-family: 'Helvetica', sans-serif;
	color:#c8ad22;
	text-shadow: 2px 2px #111111;
	vertical-align:baseline;
	width:100%;
}

td.td {
	font-size: x-large;
	font-weight:normal;
	font-family: 'Helvetica', sans-serif;
	color:#cccccc;
	line-height:1.6;
	vertical-align:baseline;
	text-align:right;
	padding: 10px 0px 10px 0px;
}

td.td-copy {
	font-size: x-large;
	font-weight:normal;
	font-family: 'Helvetica', sans-serif;
	color:#cccccc;
	line-height:1.4;
	vertical-align:baseline;
	padding: 10px 0px 10px 0px;
}

p, li {
	padding: 10px 0px 10px 0px;
	font-family: 'Didact Gothic', sans-serif;
}

p.indent {
	padding:0px;
}

div.image {
	width:100%;
	font-size:medium;
	margin:0 auto;
	text-align: center;
	padding: 20px 10px 30px 0px;

}

img.img {
	max-width:100%;
	height:auto;
}

div.imagevideo {
	width:50%;
	font-size:medium;
	margin:0 auto;
	text-align: center;
	padding: 20px 0px 30px 0px;

}

.mixcloud {
	position:absolute;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
}

.mixcloud2 {
	background-position: 50%;
	position:absolute;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
}

.mixcloud3 {
	background-position: 50%;
	position:absolute;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
}

.mixcloud4 {
	background-position: 50%;
	position:absolute;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
}

.socialcontent {
	width: 50px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}


/******************* musicbox ************************/

#audioplayer {
	position: relative;
	width: 100%;
	float:left;
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;
	line-height:1.1;
	z-index:999;
}


#showyear {
	font-weight:bold;
	font-size:75px;
	font-family: 'Helvetica', sans-serif;
	float:left;
	position:absolute;
	top:-20px;
	right:65%;
	z-index:99999;
	opacity:0.3;
}

#showinfo {
	width: 60px;
	height: 60px;
	background: url('icon-info2.png') no-repeat;
	position:relative;
	top:0px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
}

#showinfo:hover {
	background: url('icon-info2.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
}


#showgenre {
	font-weight:bold;
	font-size:300%;
	font-family: 'Helvetica', sans-serif;
	color: yellow;
	float:left;
	position:relative;
	top:15px;
	left:10px;
	z-index:1;
	opacity:0.6;
	line-height:0.5;
}

#showtrack {
	position:relative;
	left:70px;
	top:-25px;
	line-height:0.9;
	color: #feff9d;
}

#carrot {
	font-weight:bold;
	font-size:18px;
	font-family: 'Helvetica', sans-serif;
	color:#dbdcdd;
	float:right;
	position:relative;
	top:0px;
	right:3px;
}

a.carrot_link:hover {
	cursor: pointer;
}

#titleimage {
	width:100%;
	height:120px;
	text-align:center;
	margin:0 auto;
	background: url('title.png') no-repeat;
	background-size: contain;
	background-position: center;
	background-color:#111111;
}

/**** mediaelements overrides ****/

.mejs-container  {
    position: relative;
    background-color: transparent;
    font-family: 'Helvetica', sans-serif;
}

.mejs-controls {
  background-color: transparent;
  position:relative;
  top:15px;
}

.mejs-container .mejs-controls {
    height: 60px;
}

.mejs-container .mejs-controls div {
    width: 60px;
    height: 60px;
}

.mejs-container .mejs-controls .mejs-time-rail {
	margin-top:3px;
	width:100px;
}

.mejs-container .mejs-controls .mejs-time-loaded {
	height:5px;
	width:0px;
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
	height:5px;
	width:100%;
}

.mejs-container .mejs-controls .mejs-mute {
	width: 25px;
    height: 25px;
	margin-left:5px;
	margin-right:5px;
}

.mejs-container .mejs-controls .mejs-unmute {
	width: 25px;
    height: 25px;
	margin-left:5px;
	margin-right:5px;
}
	
.mejs-controls .mejs-button button {
	width: 60px;
	height: 60px;
	background: none;
	margin: 0px;
}    	
	
.mejs-controls .mejs-play button {
	width: 60px;
	height: 60px;
	background: url('icon-play.png') no-repeat;
	position:relative;
	top:-14px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
}
.mejs-controls .mejs-play button:hover {
	background: url('icon-play.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.9;
}


.mejs-controls .mejs-pause button {
	width: 60px;
	height: 60px;
	background: url('icon-pause.png') no-repeat;
	position:relative;
	top:-14px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
}  
.mejs-controls .mejs-pause button:hover {
	background: url('icon-pause.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
}

.mejs-controls .mejs-nexttrack button {
	width: 60px;
	height: 60px;
	background: url('icon-next.png') no-repeat;
	position:relative;
	top:-14px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
}
.mejs-controls .mejs-nexttrack button:hover {
	background: url('icon-next.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
}

.mejs-controls .mejs-mute button {
	width: 25px;
	height: 25px;
	background: url('volume.png') no-repeat;
	position:relative;
	top: 3px;
	left:5px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
}  

.mejs-controls .mejs-unmute button {
	width: 25px;
	height: 25px;
	background: url('volume-mute.png') no-repeat;
	position:relative;
	top:3px;
	left:5px;
	background-size: 80% 80%;
	background-position: center;
	float:left;
	z-index:999;
} 

.mejs-controls .mejs-volume-button .mejs-volume-slider {
	left:5px;
}

.mejs-controls .mejs-show-playlist button {
	width: 60px;
	height: 60px;
	background: url('icon-playlist.png') no-repeat;
	position:relative;
	top:-14px;
	background-size: 80% 80%;
	background-position: center;
	float:right;
	z-index:999;
}
.mejs-controls .mejs-show-playlist button:hover {
	background: url('icon-playlist.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
}


.mejs-controls .mejs-hide-playlist button {
	width: 60px;
	height: 60px;
	background: url('icon-playlist.png') no-repeat;
	position:relative;
	top:-14px;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
	float:right;
	z-index:999;
}
.mejs-controls .mejs-hide-playlist button:hover {
	background: url('icon-playlist.png') no-repeat;
	background-size: 80% 80%;
	background-position: center;
	background-color:#111111;
	opacity:0.8;
}

.mejs-playlist {
	/*bottom: 8% !important;*/
	background: #222222;
	opacity: 1.0;
	height: 400% !important;
}

.mejs-playlist li {
	padding:0px;
	margin:0px;
	font-size:medium;
}

/********************** search results ******************/


#search-results {
	color: #feff9d;
	font-size: x-large;
}

.hl {
	color: #feff9d;
}

.tc {
	display: table-cell;
	padding: 0px 10px 0px 0px;
	width:20%;
	color: #cacaca;
}

.tc1 {
	display: table-cell;
	padding: 0px 10px 0px 0px;
	width:80%; 
	color: #cacaca;
}

.sc1 {
	display: table-cell;
	padding: 0px 10px 0px 0px;
	width:40%;
	color: #cacaca;

}

.sc2 {
	display: table-cell;
	padding: 0px 10px 0px 0px;
	width:100%;
	color: #cacaca;

}

.showmenuline {
	padding:10px;
}

.showmenuline:hover {
	background-color:#333333;
}


/********************************** menu ************************/


.menutitle {
	font-size: xx-large;
	font-weight:normal;
	font-family: 'Didact Gothic', sans-serif;
	color: #c8ad22;
	text-shadow: 2px 2px #111111;
	line-height:1.1;
}

.social {
	float:right;
	z-index:999999;
}

.social img {
	max-width:50%;
	height:50px;
	padding: 4px;
	text-align:left;
	z-index:999999;
}

.menutext {
	font-size: 20px;
	font-weight:normal;
	font-family: 'Didact Gothic', sans-serif;
	color: #cacaca;
	line-height:1.4;
	padding:8px;
}

hr {
	border-width: 1px 0px;
	border-color: #666 transparent #ccc transparent;
	margin: 0px;
}

.menulist li {
	list-style-type: none;
	font-size: 30px;
	font-family: 'Didact Gothic', sans-serif;
	text-shadow: 2px 2px #111111;
	line-height:1.8;
	padding: 10px 0px 10px 0px;
}

.menulist li:hover {
	cursor: pointer;
}

.menucontent {
	font-size: x-large;
	font-weight:normal;
	color:#cccccc;
	line-height:1.6;
	margin-left:35px;
}

.menucontent p {
	padding: 5px 0px 10px 0px;
	font-family: 'Didact Gothic', sans-serif;
}

p.q {
	padding-left:1.5em;
	text-indent:-1.5em;
	font-weight:bold;
	line-height: 1.3;
	padding-bottom: 20px;
	
}

p.a {
	padding-left:1.5em;
	text-indent:-1.3em;
	position:relative;
	top:-30px;
	padding-bottom:0px;
}


#search {
	width: 100%;
	border-radius:16px;
	background-color:#333333;
	font-size: 40px;
	font-weight:normal;
	text-align:center;
	color: #666666;
	background: url('icon-search.png') no-repeat scroll 7px 7px;
	background-size: 40px 40px;
	background-position: 35%;
}

::-webkit-input-placeholder { color: #666666; }
::-moz-placeholder { color: #666666; }
:-ms-input-placeholder { color: #666666; }
:-moz-placeholder { color: #666666; }
input::placeholder { color: #666666; }
::-moz-placeholder { opacity: 1; }


/**** scrollbar overrides ****/

.mCSB_scrollTools {
	height:90%;
	top:5%;
	bottom:10%;
	width: 20px;
}

.mCSB_draggerContainer {
	width: 30px;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #111111;
	box-shadow: -1px 1px 0px 0px #c8c8c8;
	width: 5px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: white !important;
	opacity: 0.9;
	width:5px;
	transition: none;
	-webkit-transition: none;
}

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
	transition: none;
	-webkit-transition: none;
}

.buttons {
	width:35px;
	height:35px;
}


/**** for mobile ****/


@media only screen and (min-width: 1440px) {
    .socialcontent { width: 25px; }
	.mejs-container .mejs-controls .mejs-time-rail { position:relative; top:7px; z-index:99999; height:10px; margin: 0 5 0 5;} 

	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999;width:100%; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999;width:100%;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999;width:100%;}
	.mejs-playlist { height: 1200% !important; }
	.mejs-playlist li { font-size:medium; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;width:98%;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:370%;top:15px;left:5px; }
	#showyear { z-index:9;right:58%; }
	#showtrack { font-size:medium; padding:4px; position:relative; left:65px; top:-30px; line-height:0.9; color: #feff9d; }

	#showinfo { z-index:9999;}
	
	#audioplayer { width:50%; }
	
	.readmore { bottom:60px; width:100%; }
	.socialcontent { width: 40px; } 
	
	.mCSB_inside > .mCSB_container { margin-right: 30px; }
	
	.contentbox { width:70%;left:20%; }
	
	.header { font-size: 350%; }
	.miniheader { font-size: 125%; }
	.subheader { font-size: 200%; }
	td.td-copy {font-size: x-large; }
	
	td.td { padding:10px 0px 10px 0px;font-size:x-large; }
	p, li { padding: 0 10 20 0; text-align:justify; font-size:x-large; }
	p.a { top:-10px; }
	
	table { width:100%;margin-top:30px; }
	
	.menucontent p { font-size:large;padding:0px; }
	p.q { padding: 20px 0px 0px 0px; }
	.menulist li { font-size:xx-large; }
	.searchresults { font-size:large; }
	#search-results { font-size:large; }

	.menulist { padding: 0px; }
	div.image { font-size:large;line-height:1.2;width:80%;padding-right:10px; }
	div.imagevideo { width:80%;font-size:large; }
	img.img { max-width: 80%; font-size:large;}
	
	.menutitle  { text-align:left;font-size:290%;}
	
	#search { background-position:40%; }
	
	#titleimage  { height:60px; }

}

@media only screen and (max-width: 1440px) {
    .socialcontent { width: 25px; }
	
	.mejs-container .mejs-controls .mejs-time-rail { position:relative; top:7px; z-index:99999; height:10px; margin: 0 5 0 5;} 
	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999;width:100%; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999;width:100%;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999;width:100%;}
	.mejs-playlist { height: 900% !important; }
	.mejs-playlist li { font-size:medium; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;width:98%;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:280%;top:20px;left:5px; }
	#showyear { z-index:9; }
	#showtrack { font-size:small; padding:4px; position:relative; left:65px; top:-30px; line-height:0.9; color: #feff9d; }

	#showinfo { z-index:9999;}
	#audioplayer { width:50%; }
	
	.readmore { bottom:60px;width:100%; }
	.socialcontent { width: 40px; }
	
	.mCSB_inside > .mCSB_container { margin-right: 30px; }
	
	.contentbox { width:80%;left:10%; }
	
	.header { font-size: 350%; }
	.miniheader { font-size: 125%; }
	.subheader { font-size: 200%; }
	td.td-copy {font-size: large; }
	
	td.td { padding:10px 0px 10px 0px;font-size:x-large; }
	p, li { padding: 0 10 20 0; text-align:justify; font-size:x-large; }
	p.a { top:-10px; }
	
	table { width:100%;margin-top:30px; }
	
	.menucontent p { font-size:large;padding:0px; }
	p.q { padding: 20px 0px 0px 0px; }
	.menulist li { font-size:xx-large; }
	.searchresults { font-size:large; }
	#search-results { font-size:x-large; }

	.menulist { padding: 0px; }
	div.image { font-size:medium;line-height:1.2;width:80%;padding-right:10px; }
	div.imagevideo { width:80%;font-size:medium; }
	img.img { max-width: 80%;font-size:medium;}
	
	.menutitle  { text-align:left;font-size:290%;}
	
	#search { background-position:35%; }
	
	#titleimage  { height:60px; }

}


@media only screen and (max-width: 1040px) {
    .socialcontent { width: 25px; }
	
	.mejs-container .mejs-controls .mejs-time-rail { position:relative; top:7px; z-index:99999; height:10px; margin: 0 5 0 5;} 
	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999; width:100%; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999; width:100%;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999; width:100%;}
	.mejs-playlist { height: 700% !important; }
	.mejs-playlist li { font-size:medium; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;width:98%;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:200%;top:20px;left:5px; }
	#showyear { z-index:9;right:68%; }
	#showtrack { font-size:small; padding:4px; position:relative; left:65px; top:-30px; line-height:0.9; color: #feff9d; }

	#showinfo { z-index:9999;}
	
	#audioplayer { width:50%; }
	
	.readmore { bottom:60px;width:100%; }
	.socialcontent { width: 40px; }
	
	.mCSB_inside > .mCSB_container { margin-right: 30px; }
	
	.contentbox { width:90%;left:5%; }
	
	.header { font-size: 350%; }
	.miniheader { font-size: 125%; }
	.subheader { font-size: 200%; }
	td.td-copy {font-size: x-large; }
	
	td.td { padding:10px 0px 10px 0px;font-size:x-large; }
	p, li { padding: 0 10 20 0; text-align:justify; font-size:x-large; }
	p.a { top:-10px; }
	
	table { width:100%;margin-top:30px; }
	
	.menucontent p { font-size:large;padding:0px; }
	p.q { padding: 20px 0px 0px 0px; }
	.menulist li { font-size:xx-large; }
	.searchresults { font-size:large; }
	#search-results { font-size:x-large; }

	.menulist { padding: 0px; }
	div.image { font-size:medium;line-height:1.2;width:80%;padding-right:10px; }
	div.imagevideo { width:80%;font-size:medium; }
	img.img { max-width: 80%;font-size:medium;}
	
	.menutitle  { text-align:left;font-size:270%;}
	
	#search { background-position:30%; }
	
	#titleimage  { height:60px; }
}

@media only screen and (max-width: 900px) {
	#showtrack { font-size:x-small; padding:4px; position:relative; left:65px; top:-30px; line-height:0.9; color: #feff9d; }
	
	#titleimage  { height:60px; }
}

@media only screen and (max-width: 800px) {
    .socialcontent { width: 25px; }
	
	.mejs-container .mejs-controls .mejs-time-rail { position:relative; top:7px; z-index:99999; height:10px;} 
	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999;width:100%; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999;width:100%;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999;width:100%;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	.mejs-playlist { height: 700% !important; }
	.mejs-playlist li { font-size:medium; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;}
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:310%;top:95px;left:2px; position:absolute; }
	#showyear { right:0px;top:38px;z-index:999;text-align:right; }
	#showtrack { left:0px;top:0px;font-size:medium; padding:4px; }
	
	#showinfo { position:absolute;right:1px;}
	
	#audioplayer { width:100%; }
	
	.readmore { bottom:120px;width:100%; }
	.socialcontent { width: 40px; }
	
	.mCSB_inside > .mCSB_container { margin-right: 30px; }
	
	.contentbox { width:90%;left:5%; }
	
	.header { font-size: xx-large; }
	.miniheader { font-size: medium; }
	.subheader { font-size: medium; }
	td.td-copy {font-size:medium; }
	
	td.td { padding:0px;font-size:medium; }
	p, li {  padding: 0 10 0 0; text-align:justify; font-size:medium; }
	p.a { top:-10px; }
	
	table { width:100%; }
	
	.menucontent p { font-size:medium;padding:0px; }
	.menulist li { font-size:large; }
	.searchresults { font-size:medium; }
	#search-results { font-size:large; }

	.menulist { padding: 0px; }
	div.image { width:100%;font-size:small;line-height:1.2;padding-right:10px; }
	div.imagevideo { width:100%;font-size:small; }
	img.img { max-width: 100%;font-size:small;}
	
	.menutitle  { text-align:center;}
	
	#search { background-position:35%; }
	
	#titleimage  { height:120px; }
	

}


@media only screen and (max-width: 640px) {
    .socialcontent { width: 25px; }
	
	.mejs-container .mejs-controls .mejs-time-rail { position:absolute; top:-27px; z-index:99999; height:10px;margin:0;} 
	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999;}
	.mejs-playlist { height: 700% !important; }
	.mejs-playlist li { font-size:medium; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:250%;top:95px;left:2px; position:absolute; }
	#showyear { right:0px;top:38px;z-index:999; text-align:right; }
	#showtrack { left:0px;top:0px;font-size:medium; padding:4px; }
	
	#showinfo { position:absolute;right:1px; z-index:9999;}
	
	#audioplayer { width:100%; }
	
	.readmore { bottom:120px;width:100%; }
	.socialcontent { width: 40px; }
	
	.mCSB_inside > .mCSB_container { margin-right: 15px; }
	
	.contentbox { width:98%;left:0%;right:0%; }
	
	.header { font-size: xx-large; }
	.miniheader { font-size: medium; }
	.subheader { font-size: medium; }
	td.td-copy {font-size:medium; }
	
	td.td { padding:0px;font-size:medium; }
	p, li { padding: 0 10 0 0; text-align:justify; font-size:medium; }
	p.a { top:-10px; }
	
	table { width:100%; }
	
	.menucontent p { font-size:medium;padding:0px; }
	.menulist li { font-size:large; }
	.searchresults { font-size:small; }
	#search-results { font-size:medium; }

	.menulist { padding: 0px; }
	div.image { width:100%;font-size:small;line-height:1.2;padding-right:10px; }
	div.imagevideo { width:100%;font-size:small; }
	img.img { max-width: 100%;font-size:small;}
	
	.menutitle  { text-align:center;}
	
	#search { background-position:25%; }

}

@media only screen and (max-width: 400px) {
    .socialcontent { width: 25px; }
	
	.mejs-container .mejs-controls .mejs-time-rail { position:absolute; top:-25px; z-index:99999; height:10px; margin:0;} 
	.mejs-controls .mejs-time-rail .mejs-time-total { margin:0px;z-index:99999; }
	.mejs-container .mejs-controls .mejs-time-loaded {z-index:99999;}
	.mejs-controls .mejs-time-rail .mejs-time-current {z-index:99999;}
	.mejs-playlist { height: 700% !important; }
	.mejs-playlist li { font-size:small; padding: 10px 0px 10px 0px; margin:0; border-bottom:1px solid grey;}
	
	.mejs-container .mejs-controls .mejs-time { width: 30px; }
	
	
	.mejs-container .mejs-controls .mejs-mute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-container .mejs-controls .mejs-unmute { width: 20px; height: 20px; margin-left:1px; margin-right:1px; }
	.mejs-controls .mejs-volume-button .mejs-volume-slider {z-index:99999;}
	
	#showgenre { font-size:150%;top:105px;left:2px; position:absolute; }
	#showyear { top:38px;z-index:999;text-align:right; }
	#showtrack { left:0px;top:0px;font-size:small; padding:4px; }
	
	#showinfo { position:absolute;left:73%;top:1px;z-index:9999;}
	#audioplayer { width:100%; }
	
	.readmore { bottom:120px;width:100%; }
	.socialcontent { width: 40px; }
	
	.mCSB_inside > .mCSB_container { margin-right: 15px; }
	/**.mCustomScrollBox { position:absolute;right:1px;}**/
	
	.contentbox { width:98%;left:0%;right:0%; }
	
	.header { font-size: x-large; }
	.miniheader { font-size: small; }
	.subheader { font-size: small; }
	td.td-copy {font-size:small; }
	
	td.td { padding:0px;font-size:medium; }
	p, li { padding: 0 10 0 0; text-align:justify;font-size:medium; }
	p.a { top:-10px; }
	
	table { width:100%; }
	
	.menucontent p { font-size:small;padding:0px; }
	.menulist li { font-size:large; }
	.searchresults { font-size:x-small; }
	#search-results { font-size:small; }

	.menulist { padding: 0px; }
	div.image { width:100%;font-size:small;line-height:1.2;padding-right:10px; }
	div.imagevideo { width:100%;font-size:small; }
	img.img { max-width: 100%;font-size:small;}
	
	.menutitle  { text-align:center;}
	
	#search { background-position:20%; }
}
